
@model Movie

<div style="border:solid 2px black">
    <p>Title: @Model.Title</p>
    <p>Movie Id:@Model.Id</p>
    <p>Genre: @Model.Genre</p>
    <p>Run Time: @Model.RunTime</p>
    <p>Year: @Model.Year</p>
    <br />
</div>